<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title style="margin-left: auto ">Sign in</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
<form action="action_page.php" style="border:1px solid #ccc">

    <div class="container">

        <p>Fill in your information here.</p>
        <hr>

        <label ><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label ><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>


        <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>


        <div class="clearfix">
            <button type="submit" class="signupbtn">Sign in</button>
        </div>

    </div>
</form>
</body>

</html>