<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title style="margin-left: auto ">Sign in</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
<form action="#" th:action="@{/login}" th:object="${user}"  method="post">

    <div class="container">

        <p>Fill in your information here.</p>
        <hr>

        <label ><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" th:value="*{email}" required>

        <label ><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="password" th:value="*{password}" required>


        <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>


        <div class="clearfix">

            <input type="button" class="signinb" onclick="location.href='mainpage.html';" value="Sign in" />
        </div>

        <div>
            <p>I do not have an account.</p>

            <input type="button" class="signinb" onclick="location.href='signup.html';" value="Sign UP" />
        </div>

    </div>
</form>
</body>

</html>