<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <h1>Sign Up</h1>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
<form action="#" th:action="@{/signup}" th:object="${user}"  method="post" >

    <div class="container">

        <p>Please fill in this form to create an account.</p>
        <hr>

        <label ><b>Full name</b></label>
        <input type="text" placeholder="Enter Full name" name="Name" id="username" th:field="*{username}" required>

        <label ><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" th:value="*{email}" required>

        <label ><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="password" th:value="*{password}" required>

        <label ><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" id="passwordrep" th:value="*{password}" required>

        <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>

        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <div class="clearfix">
            <button type="submit" class="signupbtn" href="signin.html">Sign Up</button>
            <button type="button" class="cancelbtn" href="signin.html">Cancel</button>

        </div>
        <div>
        <p>I have an account.</p>
        <input type="button" class="signinb" onclick="location.href='signin.html';" value="Sign in" />
        </div>
    </div>
</form>
</body>

</html>