<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="userprofile.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">

    <title class="navbar-brand" href="mainpage.html" style="font-size: 40px; color: #080808" >Fréttahrúturinn</title>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left: 1200px">
        <div class="navbar-nav" >
            <a class="nav-link" aria-current="page" href="mainpage.html" style="font-size: 30px; color: #080808" >Fréttir<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="userprofile.html" style="font-size: 30px;  color: #080808" >Notandi</a>
            <a class="nav-link" href="signup.html" style="font-size: 30px; color: #080808" >Skrá út</a>
        </div>
    </div>
</nav>

<div style="margin-bottom: 70px">
    <l1 style="font-size: 30px; margin-left: 20px; color: #080808">Hæ Binni!  </l1>
    <div>
    <l4 style=" margin-left: 20px; color: #080808">User name: Brynjar Aron  </l4>
    <l4 style=" margin-left: 20px; color: #080808">Email: brynjar1993@gmail.com  </l4>
    </div>
</div>

<div class = "form">
<h3>Filterar</h3><br>
<form >
    <div style=" margin-bottom: 20px">
    <l3 style=" margin-left: 10px; color: #080808; ">Veldu filtera  </l3> </div>
    <input type="checkbox" id="Fréttir" name="frettir" value="Bike">
    <label> Fréttir </label><br>

    <input type="checkbox" id="Viðskipti" name="Viðskipti" value="Viðskipti">
    <label> Viðskipti </label><br>

    <input type="checkbox" id="Íþróttir" name="iþrottir" value="Boat">
    <label > Íþróttir </label><br>
    <input type="checkbox" id="Lífið" name="lifid" >
    <label > Lífið </label><br>
    <input type="checkbox" id="Fasteignir" name="fasteignir">
    <label > Fasteignir </label><br>
    <input type="checkbox" id="Matur" name="matur" value="Car">
    <label > Matur </label><br>
    <input type="checkbox" id="Ferðalög" name="ferdalog" value="Car">
    <label > Ferðalög </label><br><br>

    <input type="button" class="takki" onclick="location.href='mainpage.html';" value="Submit" />
</form>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>